nav {
    height: 64px;
    background-color: slategray;
    display: flex;
    align-items: center;
    padding-block: .75rem;
    padding-inline: 8rem;
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.25);
}

a {
    color: white;
    text-decoration: none;
    padding-right: .5rem;
}