nav {
    height: 64px;
    background-color: slategray;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-block: .75rem;
    padding-inline: 3rem;
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.25);
}

a {
    color: white;
    text-decoration: none;
    padding-right: 1.2rem;
}

.selected-link {
    text-decoration: underline;
}

.nav-buttons {
    display: flex;
    justify-content: space-evenly;
}

.cart-button {
    display: flex;
    align-items: center;
    color: black;
}

.cart-number {
    font-size: 1.2rem;
    align-self: flex-start;
    color: black;
}

.cart-symbol {
    min-width: 30px;
    font-size: 2em;
}

.searchbar {
    --padding: 10px;
    border-radius: 25px;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    width: max-content;
    padding: var(--padding);
    width: 100px;
    transition: width 0.50s;
}

.searchbar:focus-within {
    width: 300px;
}

.searchbar > input {
    font-size: 16px;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
    min-width: 75px;
}

.searchbar > input::placeholder,
.search-icon {
    color: rgba(0,0,0,0.50);
}

.search-icon {
    font-size: 1.5rem;
    flex: none;
}