.item-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 300px));
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
}

.item-card {
    background-color: rgba(10, 10, 10, 0.1);
    border: 0.2rem solid rgba(100, 100, 100, 0.2);
    border-radius: 20px;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-card > img {
    max-width: 90%;
}